In [ ]:
import pandas as pd
import numpy as np

In [ ]:
billing_data = pd.read_csv("/content/sample_data/Billing_Data.csv") #Load of data files
Patient_data = pd.read_csv("/content/sample_data/Patient_Data.csv")

In [ ]:
df_billing = pd.DataFrame(billing_data)   #Datframes
df_patient = pd.DataFrame(Patient_data)

In [ ]:
df_billing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [ ]:
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [ ]:
df_billing.columns

Index(['PatientID', 'InsuranceCovered', 'FinalAmount'], dtype='object')

In [ ]:
df_patient.columns

Index(['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount',
       'ReceptionistID', 'CheckInTime'],
      dtype='object')

In [ ]:
df_patient[['PatientID', 'Department', 'Doctor', 'BillAmount']]   #displaying selected columns

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [ ]:
#3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].
df_patient.drop('ReceptionistID', axis=1, inplace=True)
df_patient.drop('CheckInTime', axis=1, inplace=True)

In [ ]:
df_patient.columns

Index(['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount'], dtype='object')

In [ ]:
total_bill_per_department = df_patient.groupby('Department')['BillAmount'].sum()  #4.	Use groupby to find total bill amount per department.
display(total_bill_per_department)

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [ ]:
df_patient.drop_duplicates(subset=['PatientID'], inplace=True)   #5.	Remove duplicate patient records based on PatientID.

In [ ]:
df_patient.columns

Index(['PatientID', 'Name', 'Department', 'Doctor', 'BillAmount'], dtype='object')

In [ ]:
print(df_patient)

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

In [ ]:
df_patient['BillAmount'] = df_patient['BillAmount'].replace(0.0, np.nan)   #6.	Fill missing BillAmount values with the mean bill amount.
mean_bill_amount = df_patient['BillAmount'].mean()
df_patient['BillAmount'] = df_patient['BillAmount'].fillna(mean_bill_amount)
print(df_patient)

   PatientID     Name   Department     Doctor   BillAmount
0        101    Alice   Cardiology  Dr. Smith  5000.000000
1        102      Bob    Neurology   Dr. John  6233.333333
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000
3        104    David   Cardiology  Dr. Smith  6200.000000
4        105      Eva  Dermatology   Dr. Rose  6233.333333

In [ ]:
df_merged = pd.merge(df_patient, df_billing, on='PatientID', how='inner')  #7.	Merge the billing dataset with patient dataset on PatientID.
df_merged = pd.merge(df_patient, df_billing, on='PatientID', how='inner')
print(df_merged.head())

   PatientID     Name   Department     Doctor   BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000              2000
1        102      Bob    Neurology   Dr. John  6233.333333              1500
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000              2500
3        104    David   Cardiology  Dr. Smith  6200.000000              3000
4        105      Eva  Dermatology   Dr. Rose  6233.333333              1000

   FinalAmount
0         3000
1         3500
2         5000
3         3200
4         4000

In [ ]:
#8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).
new_patient_records = pd.DataFrame({
    'PatientID': [106, 107],
    'Name': ['Frank', 'Grace'],
    'Department': ['Pediatrics', 'Cardiology'],
    'Doctor': ['Dr. White', 'Dr. Smith'],
    'BillAmount': [4500.0, 7000.0],
    'InsuranceCovered': [1500, 2500],
    'FinalAmount': [3000, 4500]
})
print("New patient records created:")
print(new_patient_records)

New patient records created:
   PatientID   Name  Department     Doctor  BillAmount  InsuranceCovered  \
0        106  Frank  Pediatrics  Dr. White      4500.0              1500
1        107  Grace  Cardiology  Dr. Smith      7000.0              2500

   FinalAmount
0         3000
1         4500

In [ ]:
df_combined = pd.concat([df_merged, new_patient_records], ignore_index=True)  #9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).
print("Combined DataFrame after appending new records:")
print(df_combined)

Combined DataFrame after appending new records:
   PatientID     Name   Department     Doctor   BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith  5000.000000              2000
1        102      Bob    Neurology   Dr. John  6233.333333              1500
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000              2500
3        104    David   Cardiology  Dr. Smith  6200.000000              3000
4        105      Eva  Dermatology   Dr. Rose  6233.333333              1000
5        106    Frank   Pediatrics  Dr. White  4500.000000              1500
6        107    Grace   Cardiology  Dr. Smith  7000.000000              2500

   FinalAmount
0         3000
1         3500
2         5000
3         3200
4         4000
5         3000
6         4500